:root{
    --maincolor: #0068af;
    --bordercl:rebeccapurple;
    --callouctcolor:dodgerblue;
    --hovercolor:#e7e7e7;
    --darkMaincolor: #0068af;
    }
a {
    color: inherit;
    text-decoration: none;
    border-bottom: none;
    padding: 2px;
    }
a:hover {
    background-color: var(--hovercolor);
    border-bottom: 3px solid var(--maincolor);
    color: inherit;
}