:root{
    --maincolor: #0068af;
    --bordercl:#e7e7e7;
    --callouctcolor:dodgerblue;
    --hovercolor:#e7e7e7;
    --darkMaincolor: #0068af;
    }
html {
    font-family: 'Roboto Slab', serif;
}
a {
    color: #0068af;
    text-decoration: none;
    border-bottom: none;
    }
a:hover {
    background-color: var(--hovercolor);
    border-bottom: 3px solid var(--maincolor);
    color: inherit;
}
/* Footer */
footer {
    border-top: 1px solid var(--bordercl);
  }

  header {
    border-bottom: 1px solid var(--bordercl);
    padding: 30px 0;
  }

  h1 {
    font-size: 1.4em;
    margin-top: 2em;
  }

  h1.title {
    font-size: 1.4em;
    margin-top: 1em;
  }


  nav a {
    margin-left: 15px;
  }

  a.soc {
    color: inherit;
    text-decoration: none;
  }

  a.soc:hover{
    color: inherit;
    border: 0;
    background-color: transparent;
    text-decoration: none;
  }

  div.main {
    font-size: 2em;
    font-weight: bold;
  }

  p, div.description {
    font-family: 'Lato', sans-serif;
    line-height: 1.5;
  }

  a.tag {
    margin-left: 5px;
    border: 0;
  }

  a.tag:hover {
    background-color: var(--hovercolor);
    border-bottom: 3px solid var(--maincolor);
    color: inherit;
}

div.meta, time {
    font-style: italic;
}